$primary-color: #f4e041;
$secondary-color: #00bdd3;
$hover-color: #ffe302;
$disabled-color: #b4b4b4;
$background-color: #f8f8f8;
$form-text-color: #7e7e7e;
$error-color: #cb3d40;
$border-color: #d0cfcf;

$max-size: 1170px;
$header-font: 40px;
$main-text-font: 16px;

.base-button {
  background-color: $primary-color;
  border-radius: 80px;
  cursor: pointer;
  height: 34px;
  text-align: center;
  color: rgb(0, 0, 0, 87%);
  text-decoration: none;

  &:hover {
    background-color: $hover-color;
  }

  &:disabled {
    background-color: $disabled-color;
    color: white;
  }
}
